<!DOCTYPE html>
<html>

<head>
  <title>MBI Horses Calculator</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900' rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <link rel="shortcut icon" href="https://cdn.vuetifyjs.com/images/logos/favicon.ico">
  <style>

  </style>
</head>

<body>
  <div id="app">
    <v-app>
      <v-app-bar dark app color="#292929" height="100"  :collapse="!collapseOnScroll"
      :collapse-on-scroll="collapseOnScroll" >
        <v-avatar class="mr-3" color="grey lighten-5" size="80">
          <v-img  max-height="70%" src="./src/img/logo.webp"></v-img>
        </v-avatar>

        <v-toolbar-title class="font-weight-black headline white--text" >
          Dr.Horse
        </v-toolbar-title>
        <v-spacer></v-spacer>

        <v-btn icon>
          <v-icon>mdi-magnify</v-icon>
        </v-btn>
  
        <v-btn icon>
          <v-icon>mdi-heart</v-icon>
        </v-btn>
  
        <v-btn icon>
          <v-icon>mdi-dots-vertical</v-icon>
        </v-btn>
      </v-app-bar>

      <v-content>
        <section id="hero">
          <v-row no-gutters>
            <v-img :min-height="'calc(100vh - ' + $vuetify.application.top + 'px)'" src="./src/img/horse.jpg">
              <v-theme-provider dark>
                <v-container fill-height>
                  <v-row align="center" class="white--text mx-auto" justify="center">
                    <v-col class="white--text text-center" cols="12" tag="h1">
                      <span :class="[$vuetify.breakpoint.smAndDown ? 'display-1' : 'display-2']"
                        class="font-weight-light">
                        WELCOME TO
                      </span>

                      <br>

                      <span :class="[$vuetify.breakpoint.smAndDown ? 'display-3': 'display-4']"
                        class="font-weight-black">
                        Dr.Horse BMI Calculator
                      </span>

                    </v-col>

                    <v-btn class="align-self-end" fab outlined @click="$vuetify.goTo('#bmi-calc')">
                      <v-icon>mdi-chevron-double-down</v-icon>
                    </v-btn>
                  </v-row>
                </v-container>
              </v-theme-provider>
            </v-img>
          </v-row>
        </section>
        <section id="bmi-calc">
          <div class="py-10"></div>

          <v-container class="text-center">
            <h2 class="display-2 font-weight-bold mb-3">BMI Calculator</h2>
            <h2 class="display-1 mb-1">Work out the body mass index of your horse (over 10hh).</h2>

            <v-responsive class="mx-auto mb-8" width="56">
              <v-divider class="mb-1"></v-divider>

              <v-divider></v-divider>
            </v-responsive>

            <v-responsive class="mx-auto title font-weight-light mb-3" max-width="300" justify="center" color="red">
              <v-row class="mb-1">
                <v-col cols="12">
                  <v-select v-model="select" :items="bodies" label="Body" outlined rounded></v-select>
                </v-col>
                <v-col cols="12">
                  <v-text-field v-model="age" label="Age" outlined type="number" rounded></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field id="h" v-model="height" label="Height" outlined type="number" rounded suffix="cm">
                  </v-text-field>


                </v-col>
                <v-col cols="12">
                  <v-text-field v-model="weight" label="Weight" outlined type="number" rounded suffix="Kg">
                  </v-text-field>
                </v-col>
                <v-col>
                  <h1 class="display-1 font-weight-black">
                    BMI Calculation:
                  </h1>
                  <h2 class="font-weight-regular pa-3">
                    {{bmiCalculation}} <b>kg/m²</b>
                  </h2>
                  <v-chip class="display-1 font-weight-bold" large text-color="white" :color="getColor()"> {{getRank}}</v-chip>
                </v-col>
              </v-row>


            </v-responsive>



          </v-container>

          <div class="py-10"></div>
        </section>



        

       
      </v-content>

      <v-footer class="justify-center" color="#292929" height="100">
        <div class="title font-weight-light grey--text text--lighten-1 text-center">
          &copy; {{ (new Date()).getFullYear() }} — Dr.Horse BMI Calculator 💜
        </div>
      </v-footer>
    </v-app>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data() {
        return {
          collapseOnScroll: true ,
          articles: [
            {
              src: 'https://images.unsplash.com/photo-1423784346385-c1d4dac9893a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80',
              title: 'Mobile first & Responsive',
              text: 'Phasellus lorem enim, luctus ut velit eget, convallis egestas eros. Sed ornare ligula eget tortor tempor, quis porta tellus dictum.',
            },
            {
              src: 'https://images.unsplash.com/photo-1475938476802-32a7e851dad1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80',
              title: 'Think outside the box',
              text: 'Nam ut leo ipsum. Maecenas pretium aliquam feugiat. Aenean vel tempor est, vitae tincidunt risus. Sed sodales vestibulum nibh.',
            },
            {
              src: 'https://images.unsplash.com/photo-1416339442236-8ceb164046f8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1892&q=80',
              title: 'Small changes, big difference',
              text: 'Vestibulum in dictum velit, in rhoncus nibh. Maecenas neque libero, interdum a dignissim in, aliquet vitae lectus. Phasellus lorem enim, luctus ut velit eget.',
            },
          ],
          features: [
            {
              icon: 'mdi-account-group-outline',
              title: 'Vibrant Community',
              text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto cupiditate sint possimus quidem atque harum excepturi nemo velit tempora! Enim inventore fuga, qui ipsum eveniet facilis obcaecati corrupti asperiores nam',
            },
            {
              icon: 'mdi-update',
              title: 'Frequent Updates',
              text: 'Sed ut elementum justo. Suspendisse non justo enim. Vestibulum cursus mauris dui, a luctus ex blandit. Lorem ipsum dolor sit amet consectetur adipisicing elit. qui ipsum eveniet facilis obcaecati corrupti consectetur adipisicing elit.',
            },
            {
              icon: 'mdi-shield-outline',
              title: 'Long-term Support',
              text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto cupiditate sint possimus quidem atque harum excepturi nemo velit tempora! Enim inventore fuga, qui ipsum eveniet facilis obcaecati corrupti asperiores nam',
            },
          ],
          stats: [
            ['24k', 'Github Stars'],
            ['330+', 'Releases'],
            ['1m', 'Downloads/mo'],
            ['5m', 'Total Downloads'],
          ],
          bodies: [
            ['draught'],
            ['warmblood'],
            ['pony'],
            ['quaterhorse'],
            ['other'],
          ],
          age: 0,
          height: 0,
          weight: 0,
        }
      },
      methods: {
        getColor(){
          var bmi = this.bmiCalculation
          if (bmi <= 18.5) {
            return 'blue';
          }
          else if (bmi >= 18 && bmi < 25) {
            return 'green accent-4';
          }
          else if (bmi >= 25 && bmi < 30) {
            return 'yellow darken-2 ';
          }
          else if (bmi >= 30 && bmi < 40) {
            return 'orange ';
          }
          else if (bmi >= 40) {
            return 'red';
          }
        }
      },
      watch: {
        age: function (val) {
          if (val > 24) { this.age = 24; }
          else if (val < 0) { this.age = 0; }
          else this.age = 0
        },
      },
      computed: {
        result: function () {
          return parseFloat(this.age) + parseFloat(this.height) + parseFloat(this.weight)
        },
        getRank: function () {
          var bmi = this.bmiCalculation
          if (bmi <= 18.5) {
            return 'Underweight';
          }
          else if (bmi >= 18 && bmi < 25) {
            return 'Healthy';
          }
          else if (bmi >= 25 && bmi < 30) {
            return 'Overweight';
          }
          else if (bmi >= 30 && bmi < 40) {
            return 'Obese';
          }
          else if (bmi >= 40) {
            return 'Extremely obese';
          }
        },

        bmiCalculation: function () {
          var weight = parseFloat(this.weight);
          var height = parseFloat(this.height) / 100;
          var bmi = weight / (height * height)
          if (bmi)
            return bmi.toFixed(2)
          else return 0
        }
      }
    })
  </script>
</body>

</html>